### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws
.idea_modules/
atlassian-ide-plugin.xml
/out/
logs/
*.log
*.tmp

# IntelliJ-specific settings
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/gradle.xml
.idea/libraries

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### MySQL ###
*.sql
*.db
*.db-journal
*.sql.bak
my.cnf

### General ###
*.class
*.jar
*.war
*.ear
*.swp
.DS_Store
Thumbs.db

**/src/main/resources/META-INF/persistence.xml